*{
    list-style: none;
}

body{
    text-align: center;
}

h1{
    color: #000;
}
h2{
    color: rgb(255, 255, 255);
    background-color: #000;
}
h3{
    color: white;
}
.v-line{
    border-left: thick solid #000;
    height:100%;
    left: 0%;
    position: absolute;
}
a:hover{
    background-color: rgb(168, 168, 246);
}

.conteiner{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 230px auto;
    grid-template-rows: 110px auto 40px;
    grid-template-areas: 
    "gridheader gridheader"
    "gridaside gridmain"
    "gridfooter gridfooter";
}

.gridheader{
    background-color: #510fbc;
    grid-area: gridheader;
    display: flex;
}

.gridheader img{
    justify-items: center;
    margin-top: 20px;
    background-color: #510fbc
}


.gridaside{
    grid-area: gridaside;
    background-color: #000;
}
.gridmain{
    grid-area: gridmain;
    background-color: rgb(4, 4, 45);
}

.imgtenis {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    
}
.card-img-top {
    max-width: 250px;
    max-height: 250px;
    
}
.gridfooter{
    background-color: #510fbc;
    grid-area: gridfooter;
    display: flex;
}
.linkfooter a{
    margin: 20px;
    flex-direction: row;
}


.dropdown-menu{
    background-color: #510fbc;
}
.dropdown-item{
    color: white;
}

.torneos li{
    margin-bottom: 20px;;
}




/* Animacion tenis */

header
{
    padding: 0;
    margin: 0;
}
.tennis-ball
{
    width: 70px;
    
    animation: tennis 3s linear infinite alternate;
}
@keyframes tennis
{
    0%
    {
        top:0vh;
        left: 0px;
        transform: rotate(360deg);
    }    
}